* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT */
.left {
    width: 50%;
    background: #8b0000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);
    background-size: 60px 60px;
}

.overlay {
    position: relative;
    z-index: 2;
}

.logo {
    width: 260px;
}

/* RIGHT */
.right {
    width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h1 {
    color: #8b0000;
    margin-bottom: 40px;
    font-size: 36px;
}

form input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 18px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 25px;
}

.options a {
    color: #8b0000;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 14px;
    background: #8b0000;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #6f0000;
}

.register {
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
}

.register a {
    color: #8b0000;
    font-weight: 600;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .left {
        height: 40vh;
    }
}
.left {
    width: 50%;
    background: 
        
        url("Vector Smart Object.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.error {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
}
