* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* ================= HEADER ================= */
.header {
    background: #f4f4f4;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* اللوجو يكون مكتوب بالأحمر */
.logo {
    font-size: 32px;
    font-weight: bold;
    color: rgb(109, 19, 19); /* اللون الأحمر */
    margin-right: 90px;
}

/* وضع Home و Connexion في الوسط */
.header nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* Links in Header (Home, Connexion) */
.header nav a {
    color: #897c7c; /* اللون الافتراضي */
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

/* تغيير اللون عند النقر على الرابط */
.header nav a:hover{
    color: rgb(103, 18, 18); /* اللون الذي تريده عند النقر */
   
}

/* Title */
.container h1 {
    color: green;
    margin-bottom: 40px;
    font-size: 32px;
    text-align: left; /* العنوان لليسار */
    position: relative;
}

/* الخط فوق العنوان */
.container h1::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(168, 151, 151);  /* اللون الأسود */
    margin-bottom: 30px;      /* المسافة بين الخط والعنوان */
}




/* Cards layout */
.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

/* Single card */
.card {
    width: 32%;
    background: none;  /* بدون خلفية */
    text-align: center;
    padding-bottom: 10px;
    margin-top: 40px;
}

/* Images */
.card img {
    width: 80%;  /* نقّصنا العرض */
    height: 300px;  /* زدنا الطول */
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}


/* Text under images */
.card h3,
.card p {
    color: rgb(126, 11, 11); /* النص بالحمر */
    margin: 10px 0;
    text-align: center; /* توسيط النص */
}

/* Button */
.btn {
    background: transparent; /* بدون خلفية */
    color: rgb(125, 25, 25); /* النص أحمر */
    padding: 10px;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* تغيير اللون عند التفاعل مع الزر */
.btn:hover {
    color: white;          /* النص يصبح أبيض */
    background: rgb(115, 25, 25);      /* الخلفية تصبح حمراء */
}



/* ================= FOOTER ================= */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 30px;
}
